h1 {
  color: #FFFFFF;
}
.middle {
  position: sticky;
  align: middle;
}
/* The body has background elements that use Discord colors. #7289DA is Blurple.*/
body {
  background-color: #7289DA;
}
