*{
  font-family: 'Arial', sans-serif;
}
body {
  background-color: #EEC585;
}
.rank_kingcookie {
  color: #FF0000;
}
.rank_oreo {
  color: #FF9800;
}
.rank_ccc {
  color: #FFF176;
}
.rank_goldencookie {
  color: #FFEB3B;
}
.rank_oatmealcookie {
  color: #7B1FA2;
}
.rank_sprinklebiscuit {
  color: #E91E63;
}
.rank_macaroon {
  color: #1B5E20;
}
.rank_gingerbread {
  color: #283593;
}
.article_main {
  max-height: 500px;
  overflow: scroll;
}
#align_middle {
  
}
